.map_box {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.category, .category *{
    margin:0;padding:0;color:#000;
}   
.category {
    position:absolute;
    overflow:hidden;
    top:10px;
    left:10px;
    width:150px;
    height:50px;
    z-index:10;
    border:1px solid black;
    font-family:'Malgun Gothic','맑은 고딕',sans-serif;
    font-size:12px;
    text-align:center;
    background-color:#fff;
}
.category .menu_selected {
    background:#FF5F4A;
    color:#fff;
    border-left:1px solid #915B2F;
    border-right:1px solid #915B2F;
    margin:0 -1px;
} 
.category li{
    list-style:none;
    float:left;
    width:50px;
    height:45px;
    padding-top:5px;
    cursor:pointer;
} 
.category .ico_comm {
    display:block;
    margin:0 auto 2px;
    width:22px;
    height:26px;
    background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png') no-repeat;
} 
.category .ico_coffee {
    background-position:-10px 0;
}  
.category .ico_store {
    background-position:-10px -36px;
}   
.category .ico_carpark {
    background-position:-10px -72px;
}
.map_box > #map {
    margin: 0 auto;
    width: 700px;
    height: 600px;
}
.map_select {
    position: absolute;
    right: 50px;
    top: 30px;
}
.map_select > a {
    border: 1px solid #adb5bd;
    background-color: #adb5bd;
    border-radius: 3px;
    color: black;
    font-weight: 300;
}
.map_select > a:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width : 1200px) {
    .map_box > #map {
        width: 500px;
        height: 500px;
    }
}