.user_comments > a {
    text-decoration: none;
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
    color: black;
}
.user_comments a:hover {
    background-color:cyan;
}
.user_comments a > .title {
    width: 30%;
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
}
.user_comments a > .content {
    width: 40%;
}
.user_comments a > .name {
    opacity: 0.8;
    width: 15%;
    font-weight: bold;
}
.user_comments a > .date {
    opacity: 0.8;
    width: 15%;
    font-size: small;
    font-weight: bold;
}

/* pageNum */
.allComments_pageNum{
    display: flex;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}
.allComments_pageNum >a {
    list-style: none;
    width: 22px;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    margin: auto;
    border-radius: 3px;
}
.allComments_pageNum > a:hover{
    cursor: pointer;
    opacity: 0.5;
}
.allComments_pageNum > .right_icon, .allComments_pageNum > .left_icon {
    margin-left: 5px;
    width: 24px;
    height: 24px;
}
.allComments_pageNum > .right_icon:hover, .allComments_pageNum > .left_icon:hover {
    opacity: 0.5;
    cursor: pointer;
}