.written_comment_list {
   width: 100%;
   margin: 0 auto;
}
.written_comment_list > a {
   padding: 10px;
   display: block;
   text-decoration: none;
   margin: 0 auto;
   margin-bottom: 10px;
   border: 1px solid cyan;
   border-radius: 3px;
   position: relative;
   color: black;
}
.written_comment_list a:hover {
   background-color:cyan;
}
.written_comment_list a > .title {
   opacity: 1;
   font-weight: bold;
   cursor: pointer;
   text-align: left;
   margin-bottom: 5px;
}
.written_comment_list a > .content {
   margin-left: 10px;
   margin-bottom: 5px;
   font-size: small;
   text-align: left;
   color: #AEAEC6;
}
.written_comment_list a > .date {
   opacity: 0.8;
   font-size: small;
   font-weight: bold;
   float: left;
   margin-right: 10px;
}
.written_comment_list a > .name {
   opacity: 0.8;
   font-size: small;
   font-weight: bold;
   color: #AEAEC6;
   float: left;
}
.written_comment_list a > .counts {
   display: flex;
   list-style: none;
}
.written_comment_list a > .counts li {
   margin-right: 10px;    
   font-weight: bold;
}
.written_comment_list a > .counts li svg {
   margin-bottom: 2px;
   margin-right: 5px;
}
.written_comment_list a > img {
   position: absolute;
   width: 100px;
   height: 100px;
   right: 5px;
   bottom: 5px;
   border-radius: 3px;
}