a {
   text-decoration: none;
}

.written_content {
    width: 100%;
    margin: 10px auto 0 auto;
    border: 3px solid #ced2da;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
 }
 .written_content_list > button{
    margin-top: 10px;
    border: 1px solid #ced4da;
    background: #ced4da
 }

 .written_content_list a {
   color: black;
   font-weight: bold;
 }
.written_box{
   width: 100%;
}
 .written_content:hover {
   cursor: pointer;
   color: #ced4da;
 }