.userInfo ul {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-left: 0;
    padding-top: 10px;
}
.userInfo li {
    list-style: none;
    padding-bottom: 10px;
}
/* .written {
    width: 80%;
    text-align: left;
    margin: auto;
}
.written a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: aqua;
    border-radius: 3px;
} */
.my_writing {
    width: 80%;
    margin: auto;
    display: flex;
}
.my_content_writing {
    width: 50%;
    padding: 5px;
}
.my_comment_writing {
    width: 50%;
    padding: 5px;
}