div {
    box-sizing: border-box;
}
input, textarea, button {
    border-radius: 3px;
}
.boardForm {
    padding: 20px;
}
.boardForm h2 {
    font-weight: bold;
}
.boardForm > input {
    border: none;
    border: 1px solid #ced4da;
}
input {
    margin-bottom: 20px;
    width: 50%;
}
.boardForm .img_box {
    /* padding-top: 105px; */
    width: 350px;
    height: 250px;
    border: 1px solid #ffc107;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}
.boardForm .img_box:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}
.boardForm .img_box > svg {
    font-size: 40px;
    color: #adb5bd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img_box > img {
    max-width: 340px;
    max-height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.boardForm input[type='file'] {
    display: none;
}
.boardForm > textarea {
    border: 1px solid #ced4da;
}
.boardForm > textarea {
    width: 50%;
    height: 300px;
}
.boardForm > textarea:focus {
    outline: none;
    box-shadow: 0 0 10px#0d7ef0;
}
.boardForm-btn > input[type='checkbox'] {
    width: 13px;
}
.boardForm-btn > button[type='submit'] {
    width: 10%;
    border: none;
    font-weight: bold;
    margin-top: 5px;
}
.boardForm-btn > button:hover {
    opacity: 0.7;
}
.boardForm-btn{
    width: 50%;
    margin: auto;
}
.boardForm-btn > button[type='button'] {
    border: none;
    font-weight: bold;
    margin-top: 5px;
    float: right;
}
/* .boardForm textarea {
    word-wrap: break-word;
} */

