/* detail-post */
.detail-post {
    width: 80%;
    margin: 10px auto 0 auto;
    border: 3px solid #ced2da;
    border-radius: 3px;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
}
.detail-post > .name {
    float: left;
}
.detail-post > .title {
    font-size: 25px;
}
.detail-post > .name, .detail-post > .content {
    font-size: 15px;
}
.detail-post > .date {
    font-size: 13px;
    float: left;
    margin-left: 10px;
}
.detail-post img {
    max-width: 850px;
}
.detail-post > .content_modify, .detail-post > .content_delete {
    float: right;
    font-size: 15px;
    margin-left: 7px;
}
.detail-post .content_delete:hover {
    cursor: pointer;
    color:#adb5bd
}
.detail-post > .content_modify a {
    color: black;
}
.detail-post > .content_modify a:hover {
    cursor: pointer;
    color:#adb5bd
}

pre {
    font-family: var(--bs-font-sans-serif);
}
.icon_box {
    display: flex;
}
.icon_box > .like {
    width: 20px;
    margin-right: 10px;
    color: blue;
}
.icon_box > .like > svg:hover, .icon_box > .comment > svg:hover, .icon_box > .scrap > svg:hover{
    cursor: pointer;
    opacity: 0.6;
}
.icon_box > .like_count {
    padding-top: 6px;
    padding-right: 5px;
    font-size: 15px;
    font-weight: bold;
}
.icon_box > .comment {
    width: 20px;
    margin-right: 10px;
    color: #0dcaf0;
}
.icon_box > .comment_count {
    padding-top: 6px;
    padding-right: 5px;
    font-size: 15px;
    font-weight: bold;
}
.icon_box > .scrap {
    width: 20px;
    color: chartreuse;
}
.icon_box > .scrap_count {
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    font-weight: bold;
}
.icon_box > .image {
    width: 20px;
    color: #adb5bd;
}
.icon_box > .image_count {
    padding-top: 6px;
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
}
/* detail-comment */
.detail-comment a {
    color: black;
}
.detail-comment {
    width: 70%;
    margin: auto;
    border: 2px solid #0dcaf0;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
}
.detail-comment > .recomment_btn {
    float: right;
    border: none;
    font-size: small;
    font-weight: 500;
}
.detail-comment > .recomment_btn:hover {
    cursor: pointer;
    opacity: 0.5;
}
.detail-comment > .name {
    font-size: 14px;
    float: left;
}
.detail-comment > .date {
    font-size: 11px;
    float: left;
    margin-left: 10px;
}
.detail-comment > .name {
    float: left;
}

.detail-comment > .write_comment_btn {
    float: right;
    font-size: 13px;
    border: 1px solid #ced4da;
    background: #ced4da;
}
.detail-comment > .comment {
    font-size: 15px;
    float: left;
}
.detail-comment > .comment_like  {
    font-size: 20px;
    float: right;
}
.detail-comment > .comment_like > svg {
    color: blue;
}
.detail-comment > .comment_like > svg:hover {
    cursor: pointer;
    opacity: 0.5;
}
.detail-comment > .comment_like > .like_count {
    font-size: 15px;
    margin-left: 10px;
}
/* modify-comment & delete-commnet */
.detail-comment > .comment_delete {
    font-size: 15px;
    float: right;
    margin-left: 5px;
}
.detail-comment > .comment_modify:hover, .detail-comment > .comment_delete:hover {
    cursor: pointer;
    opacity: 0.5;
}
.modify-comment {
    width: 90%;
    height: 24px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
}
.modify-comment > input {
    width: 80%;
    border: 1px solid #adb5bd;
}
.modify-comment > button {
    width: 20%;
    border: 1px solid #adb5bd;
}
/* recomment */
.write-recomment {
    width: 90%;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}
.write-recomment > textarea {
    width: 90%;
    border: 1px solid #adb5bd;
}
.write-recomment > .write_recomment_btn {
    width: 10%;
    border: 1px solid #adb5bd;
    background-color: aqua;
}
.write-recomment > .write_recomment_btn > .write_recomment_icon {
    font-size: 20px;
}
.write-recomment > .write_recomment_btn > .write_recomment_icon:hover {
    cursor: pointer;
    opacity: 0.5;
}
/* write-comment */
.write-comment{
    width: 70%;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
}
.write-comment > textarea {
    width: 90%;
    height: 100%;
    border: 1px solid #adb5bd;
}
.write-comment > .write_comment_btn  {
    width: 10%;
    border: 1px solid #adb5bd;
    background-color: aqua;
}
.write-comment > .write_comment_btn > .write_comment_icon {
    margin-top: 10px;
    font-size: 30px;
}
.write-comment > .write_comment_btn > .write_comment_icon:hover {
    cursor: pointer;
    opacity: 0.5;
}
/* recomment-list */
.recomment-list {
    width: 90%;
    margin: auto;
}
.recomment-list > .recomment_arrow_icon {
    float: left;
    width: 5%;
}
.recomment-list > .content {
    float: right;
    width: 95%;
    padding: 10px;
    border: 2px solid #dee2e6;
    border-radius: 3px;
    text-align: left;
}
.recomment-list > .content > .date {
    font-size: 10px;
    margin-bottom: 2px;
}
.recomment-list > .content > .content {
    font-size: 13px;
    margin-bottom: 2px;
}
.recomment-list > .content > .name {
    font-size: 10px;
    margin-bottom: 2px;
}

/* 댓글 더보기 버튼 */
.more_comments_btn {
    margin: 15px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    padding: 5px;
}