div{
    box-sizing: border-box;
}
/* .head */
.category_board .head {
    width: 60%;
    margin: 10px auto;
    display: flex;
}
.category_board .head > .writing_btn {
    width: 20%;
    background-color: #0dcdfd;
}
.category_board .head > h2 {
    width: 30%;
}
.category_board > .head  .write_icon {
    font-size: 25px;
    margin-right: 5px;
}
.category_board > .head span {
    font-weight: bold;
}
.category_board .head > .search {
    width: 50%;
}
.category_board .head > .search > input {
    width: 50%;
    border: none;
    border: 1px solid blueviolet;
    border-radius: 20px;
    margin-right: 5px;
}
.category_board .head > .search > .search_select {
    border-radius: 5px;
}
.category_board .head > .search > .search_icon {
    background-color:cadetblue;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    color: white;
}
.category_board .head > .search > .search_icon:hover {
    cursor: pointer;
    opacity: 0.5;
}
.category_board button {
    border: none;
}
.category_board button:hover {
    opacity: 0.5;
}
.category_board a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
/* board_list */
.board_list {
    width: 70%;
    margin: 0 auto;
}
.board_list > a {
    padding: 10px;
    display: block;
    text-decoration: none;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid cyan;
    border-radius: 3px;
    position: relative;
}
.board_list a:hover {
    background-color:cyan;
}
.board_list a > .title {
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    margin-bottom: 5px;
}
.board_list a > .content {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: small;
    text-align: left;
    color: #AEAEC6;
}
.board_list a > .date {
    opacity: 0.8;
    font-size: small;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.board_list a > .name {
    opacity: 0.8;
    font-size: small;
    font-weight: bold;
    color: #AEAEC6;
    float: left;
}
.board_list a > .counts {
    display: flex;
    list-style: none;
}
.board_list a > .counts li {
    margin-right: 10px;    
    font-weight: bold;
}
.board_list a > .counts li svg {
    margin-bottom: 2px;
    margin-right: 5px;
}
.board_list a > img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 5px;
    bottom: 5px;
}

.board_list hr {
    clear: both;
    border: none;
}
/* pageNum */
.categoryBoard_pageNum{
    display: flex;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}
.categoryBoard_pageNum >a {
    list-style: none;
    width: 22px;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    margin: auto;
    border-radius: 3px;
}
.categoryBoard_pageNum > a:hover{
    cursor: pointer;
    opacity: 0.5;
}
.categoryBoard_pageNum > .right_icon, .categoryBoard_pageNum > .left_icon {
    margin-left: 5px;
    width: 24px;
    height: 24px;
}
.categoryBoard_pageNum > .right_icon:hover, .categoryBoard_pageNum > .left_icon:hover {
    opacity: 0.5;
    cursor: pointer;
}