div{
    box-sizing: border-box;
}

.category_board .head {
    width: 30%;
    margin: 10px auto;
    display: flex;
}
.category_board .head > h2 {
    margin-right: 10px;
}
.category_board button {
    border: none;
}
.category_board button:hover {
    opacity: 0.5;
}
.category_board a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
/* board_list */
.board_list li {
    text-decoration: none;
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}
.board_list li:hover {
    background-color:cyan;
}
.board_list li > .title {
    width: 30%;
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
}
.board_list li > .content {
    width: 40%;
}
.board_list li > .name {
    opacity: 0.8;
    width: 15%;
    font-weight: bold;
}
.board_list li > .date {
    opacity: 0.8;
    width: 15%;
    font-size: small;
    font-weight: bold;
}
/* pageNum */
.categoryBoard_pageNum{
    display: flex;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}
.categoryBoard_pageNum >a {
    list-style: none;
    width: 22px;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    margin: auto;
    border-radius: 3px;
}
.categoryBoard_pageNum > a:hover{
    cursor: pointer;
    opacity: 0.5;
}
.categoryBoard_pageNum > .right_icon, .categoryBoard_pageNum > .left_icon {
    margin-left: 5px;
    width: 24px;
    height: 24px;
}
.categoryBoard_pageNum > .right_icon:hover, .categoryBoard_pageNum > .left_icon:hover {
    opacity: 0.5;
    cursor: pointer;
}