/* detail-post */
.detail-post {
    width: 80%;
    margin: 10px auto 0 auto;
    border: 3px solid #ced2da;
    border-radius: 3px;
    text-align: left;
    padding: 20px;
}
.detail-post > .name, .detail-post > .content {
    font-size: 15px;
}
.detail-post > .date {
    font-size: 13px;
}
/* detail-comment */
.detail-comment {
    width: 70%;
    margin: auto;
    border: 2px solid #0dcaf0;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
}
.detail-comment > .name, .detail-comment > .date {
    font-size: 13px;
}
.detail-comment > .name {
    float: left;
}
.detail-comment > .btn {
    float: right;
    font-size: 13px;
    border: 1px solid #ced4da;
    background: #ced4da;
}
.detail-comment > .comment {
    font-size: 15px;
}
/* recomment */
.write-recomment {
    width: 90%;
    height: 24px;
    margin: auto;
    margin-bottom: 10px;
}
.write-recomment > input {
    width: 80%;
    border: 1px solid #adb5bd;
}
.write-recomment > button {
    width: 20%;
    border: 1px solid #adb5bd;
}
/* write-comment */
.write-comment{
    width: 70%;
    margin: auto;
}
.write-comment > input {
    width: 80%;
    height: 40px;
    border: 1px solid #adb5bd;
}
.write-comment > button {
    width: 20%;
    height: 40px;
    border: 1px solid #adb5bd;
    background-color: aqua;
}
/* recomment-list */
.recomment-list {
    width: 90%;
    margin: auto;
}
.recomment-list > .content {
    padding: 10px;
    border: 2px solid #dee2e6;
    border-radius: 3px;
    text-align: left;
}
.recomment-list > .content > .date {
    font-size: 10px;
    margin-bottom: 2px;
}
.recomment-list > .content > .content {
    font-size: 13px;
    margin-bottom: 2px;
}
.recomment-list > .content > .name {
    font-size: 10px;
    margin-bottom: 2px;
}
