/* my_scrapSearch */
.scrap_search_list {
    width: 60%;
    margin: 0 auto;
}
.scrap_search_list > a {
    padding: 10px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid cyan;
    border-radius: 3px;
    position: relative;
    color: black;
}
.scrap_search_list a:hover {
    opacity: 0.7;
}
.scrap_search_list a > .title {
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    margin-bottom: 5px;
}
.scrap_search_list a > .content {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: small;
    text-align: left;
    color: #AEAEC6;
}
.scrap_search_list a > .date {
    opacity: 0.8;
    font-size: small;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.scrap_search_list a > .name {
    opacity: 0.8;
    font-size: small;
    font-weight: bold;
    color: #AEAEC6;
    float: left;
}
.scrap_search_list a > .counts {
    display: flex;
    list-style: none;
}
.scrap_search_list a > .counts li {
    margin-right: 10px;    
    font-weight: bold;
}
.scrap_search_list a > .counts li svg {
    margin-bottom: 2px;
    margin-right: 5px;
}
.scrap_search_list a > img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 5px;
    bottom: 5px;
    border-radius: 3px;
}