*{
  margin: 0;
}
li > a {
  text-decoration: none;
  color: white;
}
div{
  box-sizing: border-box;
  text-align: center;
}
/* head */
.nav-bar{
  height: 100px;
  background-color: #17469e;
  color: white;
  font-family: 'Noto Light',sans-serif;;
}

.nav-box{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.nav-box div{
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.nav-box div h3, .nav-box div h1, .nav-box div h4 {
  line-height: 100px;
  margin-bottom: 0;
}
.nav-box div > h3:hover{
  opacity: 0.5;
}
.nav-box div > h4:hover {
  opacity: 0.5;
}
.nav-box .text-center{
  text-align: center;
}
.text-center h3 {
  font-size: 20px;
}
.nav-box .text-right{
  text-align: center;
}
.text-right h3 {
  font-size: 20px;
}
.text_right_login {
  display: flex;
}
.text_right_login h3 {
  font-size: 20px;
}
.text_right_login svg {
  margin: auto 0;
  margin-left: 20px;
  font-size: 25px;
}

/* body */
.App > .body{
  width: 90%;
  margin: auto;
  height: 500px;
  display: flex;
}
.body-left{
  width: 40%;
  height: 90%;
  margin: 5% auto;
}
.free {
  width: 90%;
  height: 90%;
  background-color: aqua;
}
.body-right{
  width: 60%;
  height: 90%;
  margin: 5% auto;
}
.popular{
  width: 90%;
  height: 30%;
  margin: auto;
  background-color: beige;
  margin-bottom: 5%;
}
.info-box{
  width: 90%;
  height: 50%;
  margin: auto;
  display: flex;
}
.empty{
  width: 10%;
}
.info{
  width: 45%;
  height: 100%;
  background-color: blueviolet;
}
/* footer */
.App > .footer {
  margin-top: 50px;
  width: 100%;
  height: 80px;
  background-color: cadetblue;
}
/*animation*/
.nav-box div:hover .board-box{
  opacity: 1;
}
.board-box {
  position: absolute;
  z-index: 2;
}
.board-box ul {
  background-color:aqua;
  padding: 0;
  border-radius: 3px;
}
.board-box li {
  list-style: none;
  padding-bottom: 3px;
}
.board-box li:hover {
  opacity: 0.5;
}
