*{
  margin: 0;
}
li > a {
  text-decoration: none;
  color: white;
}
div{
  box-sizing: border-box;
  text-align: center;
}
/* head */
.nav-bar{
  height: 100px;
  background-color: #17469e;
  color: white;
  font-family: 'Noto Light',sans-serif;
}
.logo {
  display: flex;
}
.logo > h6 {
  margin-top: 20px;
}
.nav-box{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.nav-box div{
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.nav-box div h3, .nav-box div h1, .nav-box div h4 {
  line-height: 100px;
  margin-bottom: 0;
}
.nav-box div > h3:hover{
  opacity: 0.5;
}
.nav-box div > h4:hover {
  opacity: 0.5;
}
.nav-box .text-center{
  text-align: center;
}
.text-center h3 {
  font-size: 20px;
}
.text-center:hover .boardList {
  transform: translateY(0);
  z-index: 10;
}
.text-center .boardList {
  color: black;
  height: 150px;
  background-color: aqua;
  border-radius: 3px;
  transition: all ;
  transform: translateY(-150px);
  z-index: -1;
  position: relative;
}
.boardList li{
  list-style: none;
  color: white;
}
.boardList li:hover {
  color: black;
}
.nav-box .text-right{
  text-align: center;
}
.text-right h3 {
  font-size: 20px;
}
.text_right_login {
  display: flex;
}
.text_right_login h3 {
  font-size: 20px;
}
.text_right_login svg {
  margin: auto 0;
  margin-left: 20px;
  font-size: 25px;
}

/* body */
.App > .body{
  width: 100%;
  margin: auto;
  height: 500px;
  display: flex;
  background-color: #F8F8F8;
}
.body-left{
  width: 40%;
  height: 90%;
  margin: auto;
}
.recent {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px;
  position: relative;
}
.recent > svg {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
}
.recent h2, .popular h2 {
  padding-top: 10px;
}
.body hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px black;
}
.recentList  {
  margin-bottom: 10px;
  text-align: left;
  margin-left: 45px;
  width: 80%;
}
.popularList {
  display: flex;
  margin-bottom: 10px;
  margin-left: 45px;
  width: 80%;
  position: relative;
}
.recentList:hover, .popularList:hover {
  cursor: pointer;
  opacity: 0.5;
}
.popularList svg {
  position: absolute;
  right: 20px;
}
.popularList .like_counts {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.body-right{
  width: 40%;
  height: 90%;
  margin: auto;
}
.popular{
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5%;
  box-shadow: 0 0 3px;
  position: relative;
}
.popular > svg {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
}
.info-box{
  width: 90%;
  height: 50%;
  margin: auto;
  display: flex;
}
.empty{
  width: 10%;
}
.info{
  width: 45%;
  height: 100%;
  background-color: blueviolet;
}
/* footer */
.App > .footer {
  margin-top: 50px;
  width: 100%;
  height: 80px;
}
.footer p {
  font-size: 10px;
}
