*{
  margin: 0;
}
li > a {
  text-decoration: none;
  color: white;
}
div{
  box-sizing: border-box;
  text-align: center;
}
/* head */
.nav-bar{
  height: 100px;
  background-color: #17469e;
  color: white;
  font-family: 'Noto Light',sans-serif;
}
.logo {
  display: flex;
}
.logo > h6 {
  margin-top: 20px;
  width: 50px;
}
.nav-box{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.nav-box > div{
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.nav-box div h3, .nav-box div h1, .nav-box div h4 {
  line-height: 100px;
  margin-bottom: 0;
}
.nav-box div > h3:hover{
  opacity: 0.5;
}
.nav-box div > h4:hover {
  opacity: 0.5;
}
.nav-box .text-center{
  text-align: center;
}
.text-center h3 {
  font-size: 20px;
}
.text-center:hover .boardList {
  transform: translateY(0);
  z-index: 10;
}
.text-center .boardList {
  color: black;
  height: 150px;
  background-color: aqua;
  border-radius: 3px;
  transition: all ;
  transform: translateY(-150px);
  z-index: -1;
  position: relative;
}
.boardList li{
  list-style: none;
  color: white;
}
.boardList li:hover {
  color: black;
}
.nav-box .text-right{
  text-align: center;
}
.text-right h3 {
  font-size: 20px;
}
.text_right_login h3 {
  font-size: 20px;
}
.nav-box > .alert {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 50px;
}
.nav-box > .alert svg {
  padding-bottom: 5px;
  width: 25px;
  height: 30px;
  position: relative;
}
.nav-box > .alert {
  /* transform: translateY(0);
  z-index: 10;
  color: black;
  position: relative; */
}
.nav-box > .alert > .notification_alert {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  z-index: 10;
  position: absolute;
  right: 0px;
  top: 30px;
}
.alert > .alert_content {
  color: black;
  background-color: #F8F8F8;
  width: 300px;
  transform: translateX(-70%);
  z-index: 10;
  position: relative;
  /* transition: all ;
  transform: translateY(0);
  transform: translateX(-70%);
  z-index: -1;
  position: relative; */
}
.alert_content > h5 {
  text-align: left;
  margin-left: 10px;
  padding: 3px;
}
.alert_content > div {
  text-align: left;
  font-size: 10px;
  padding-left: 10px;
  background-color: white;
}
.alert_content > div > li {
  list-style: none;
  font-size: 12px;
  padding: 3px;
}
.alert_content > div > li:hover {
  cursor: pointer;
  opacity: 0.5;
}
.alert_content > div > li > p {
  text-align: right;
  margin-right: 10px;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}
.alert_content > div > hr {
  margin: 0;
  border: 1px solid black;
}
.alert_content .notification_box {
}
.notification_box .notification_read {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  float: left;
}
.notification_box .notification_time{
  float: right;
}
.alert_content .notification_content {
  margin-top: 5px;
  text-align: left;
}

/* body */
.App > .body{
  width: 100%;
  margin: auto;
  height: 500px;
  display: flex;
  background-color: #F8F8F8;
}
.body-left{
  width: 40%;
  height: 90%;
  margin: auto;
}
.recent {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px;
  position: relative;
}
.recent > svg {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
}
.recent h2, .popular h2 {
  padding-top: 10px;
}
.body hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px black;
}
.recentList  {
  margin-bottom: 10px;
  text-align: left;
  margin-left: 45px;
  width: 80%;
}
.popularList {
  display: flex;
  margin-bottom: 10px;
  margin-left: 45px;
  width: 80%;
  position: relative;
}
.recentList:hover, .popularList:hover {
  cursor: pointer;
  opacity: 0.5;
}
.popularList svg {
  position: absolute;
  right: 20px;
}
.popularList .like_counts {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.body-right{
  width: 40%;
  height: 90%;
  margin: auto;
}
.popular{
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5%;
  box-shadow: 0 0 3px;
  position: relative;
}
.popular > svg {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
}
.info-box{
  width: 90%;
  height: 50%;
  margin: auto;
  display: flex;
}
.empty{
  width: 10%;
}
.info{
  width: 45%;
  height: 100%;
  background-color: blueviolet;
}
/* footer */
.App > .footer {
  margin-top: 50px;
  width: 100%;
  height: 80px;
}
.footer p {
  font-size: 10px;
}
