.search_list {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    margin: 0 auto;
}
.search_list > a:hover {
}
.search_list > a {
    padding: 10px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid cyan;
    border-radius: 3px;
    position: relative;
    color: black;
}
.search_list a > .title {
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    margin-bottom: 5px;
}
.search_list a > .content {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: small;
    text-align: left;
    color: #AEAEC6;
}
.search_list a > .date {
    opacity: 0.8;
    font-size: small;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.search_list a > .name {
    opacity: 0.8;
    font-size: small;
    font-weight: bold;
    color: #AEAEC6;
    float: left;
}
.search_list a > .counts {
    display: flex;
    list-style: none;
}
.search_list a > .counts li {
    margin-right: 10px;    
    font-weight: bold;
}
.search_list a > .counts li svg {
    margin-bottom: 2px;
    margin-right: 5px;
}
.search_list a > img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 5px;
    bottom: 5px;
}
/* pageNum */
.search_pageNum{
    display: flex;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}
.search_pageNum >a {
    list-style: none;
    width: 22px;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    margin: auto;
    border-radius: 3px;
}
.search_pageNum > a:hover{
    cursor: pointer;
    opacity: 0.5;
}
.search_pageNum > .right_icon, .search_pageNum > .left_icon {
    margin-left: 5px;
    width: 24px;
    height: 24px;
}
.search_pageNum > .right_icon:hover, .search_pageNum > .left_icon:hover {
    opacity: 0.5;
    cursor: pointer;
}